<% layout('layouts/boilerplate.ejs') -%>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h3 class="mb-3"><b><%= listing.title %></b></h3>
            <div class="card">
                <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing_image">
                <div class="card-body">
                    <p class="card-text"><%= listing.description %></p>
                    <p class="card-text"><strong>Price:</strong> &#8377;<%= listing.price.toLocaleString('en-IN') %></p>
                    <p class="card-text"><strong>Location:</strong> <%= listing.location %>, <%= listing.country %></p>
                </div>
            </div>
            <div class="mt-3 d-flex gap-3">
                <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark edit-btn">Edit</a>
                <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                    <button class="dbtn btn btn-dark delete-btn">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
